div.crveno {
    background-color: red;  
    border: solid black;
}

div.bijelo {
    background-color: white;
}

div.plavo {
    background-color: blue;
}

img {
    margin-top: 20px;
}
